################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Invoco.Solution/Invoco.ApiGateway/bin/Debug/net8.0
/Invoco.Solution/Invoco.Web/bin/Debug/net8.0
/Invoco.Solution/Invoco.Web/obj/Debug
